<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>Miniblog</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/ownerBlog.css">
    <link rel="stylesheet" type="text/css" href="/css/myPlan.css">
</head>

<body>
    <div class="container" id="app">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active" style="margin-top: 3px;">
                        <% if(headPic) {%>
                            <img src="/images/<%=headPic%>" id="headPic">
                        <% }else { %>
                            <img src="/images/touxiang.png" id="headPic">
                        <% } %>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted"><a href="/" class="gray_a"><%=username%>'s BlOG</a></h3>
        </div>
        <div class="row marketing">

        </div>
        <footer class="footer">
            <p>&copy; 2018 By Nero.</p>
        </footer>
    </div>
</body>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/vue.min.js"></script>
<script type="text/javascript" src="/js/vue-resource.js"></script>
<!-- <script type="text/javascript" src="/js/chatRoom.js"></script> -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

</html>