<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>Miniblog</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/ownerBlog.css">
    <link rel="stylesheet" type="text/css" href="/css/myPlan.css">
</head>

<body>
    <div class="container" id="app">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active" style="margin-top: 20px;">
                        <img src="/images/touxiang.jpg">
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted"><a href="/" class="gray_a"><%=username%>'s BlOG</a></h3>
        </div>
        <div class="row marketing">
            <input type="text" class="form-control" placeholder="请输入你的计划" v-model="newItem" v-on:keyup.enter='addNew'>
            <div class="listBox">
                <ul>
                    <li v-for='item in items' v-on:click='toggleFinished(item)' class="{finished: item.isFinished}">{{item}}</li>
                </ul>
            </div>
        </div>
        <div>
            <!-- <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li v-for='n in pages' v-on:click='showHotPage(n-1)' v-bind:class="{active: active === n}"><a href="javascript:;">{{n}}</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav> -->
        </div>
        <footer class="footer">
            <p ref='username' style="visibility: hidden;" id="username">
                <%=username%>
            </p>
            <p>&copy; 2018 By Nero.</p>
        </footer>
    </div>
</body>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/vue.min.js"></script>
<script type="text/javascript" src="/js/vue-resource.js"></script>
<script type="text/javascript" src="/js/myPlan.js"></script>

</html>