<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>Miniblog</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/regist.css">
</head>

<body>
    <div class="container" id="app">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active" style="margin-top: 3px;">
                        <% if(headPic) {%>
                            <img src="/images/<%=headPic%>" id="headPic">
                        <% }else { %>
                            <img src="/images/touxiang.png" id="headPic">
                        <% } %>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted"><a href="/" class="gray_a"><%=username%>'s BlOG</a></h3>
        </div>
        <div class="jumbotron">
            <form role="form" method="post" action="/saveMes" enctype="multipart/form-data">
                <div class="container">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="headPic">头像</label>
                            <input type="file" class="form-control" id="headPic" name="headPic" placeholder="请输入用户名">
                        </div>
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-success">保存</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <footer class="footer">
            <p>&copy; 2018 By Nero.</p>
        </footer>
    </div>
</body>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/vue.min.js"></script>
<script type="text/javascript" src="/js/vue-resource.js"></script>

</html>