<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>Miniblog</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/ownerBlog.css">
    <link rel="stylesheet" type="text/css" href="/css/writeBlog.css">
</head>

<body>
    <div class="container" id="app">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active" style="margin-top: 20px;">
                        <img src="/images/touxiang.jpg">
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted"><a href="/" class="gray_a"><%=username%>'s BlOG</a></h3>
        </div>
        <div class="row marketing">
            <div class="panel panel-info" v-show='!status'>
              <div class="panel-heading">
                <input type="text" name="title" id="title" autofocus="true" placeholder="请输入您的博客标题" v-model='title' required>
                <input type="button" name="submit" id="submit" value="发布" class="pull-right btn btn-success" v-on:click='post'>
              </div>
              <div class="panel-body">
                <textarea v-model='article' required></textarea>
              </div>
            </div>
            <div class="alert alert-success" role="alert" v-show='status'>
                <strong>Well done!</strong> You successfully read this important alert message.
            </div>
        </div>
        <footer class="footer">
            <p ref='username' style="visibility: hidden;"><%=username%></p>
            <p>&copy; 2018 By Nero.</p>
        </footer>
    </div>
</body>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/vue.min.js"></script>
<script type="text/javascript" src="/js/vue-resource.js"></script>
<script type="text/javascript" src="/js/writeBlog.js"></script>

</html>